@model DatosCliente





<div asp-validation-summary="ModelOnly" class="text-danger"></div>





<div class="con">

    <h1>CALCULADORA PRESTAMOS</h1>
    <form asp-action="Crear">
        <div class="mb-3">
            <label asp-for="Monto_Del_Prestamo" class="form-label"></label>
            <input type="number" id="Monto_Del_Prestamo" name="Monto_Del_Prestamo" placeholder="Digite El Monto" class="form-control" />

            <span asp-validation-for="Monto_Del_Prestamo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Plazo" class="form-label"></label>
            <input type="number" id="Plazo" name="Plazo" placeholder="Digite Su Plazo" class="form-control" />
            <span asp-validation-for="Plazo" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="tasa_interes_anual" class="form-label"></label>
            <input type="number" id="tasa_interes_anual" name="tasa_interes_anual" placeholder="Digite El Interes"
                   class="form-control" />

            <span asp-validation-for="tasa_interes_anual" class="text-danger"></span>

        </div>


        <div class="divsito">

            @*<button type="submit" class="btnCalcular" asp-action="TablaAmortizada"><span>Go</span></button>
            *@

            <button type="submit" class="btnCalcular" asp-action="TablaAmortizada">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Go
            </button>
        </div>






    </form>



</div>














@section Scripts{
    <partial name="_ValidationScriptsPartial" />
   }


