@model DatosCliente


@{
    ViewData["Title"] = "Calculadora Prestamos";
}





<div asp-validation-summary="ModelOnly" class="text-danger"></div>





<div class="con">

    <h1 class="wavy" data-aos="fade-right" data-aos-duration="2000">
        <span style="--i:1;">C</span>
        <span style="--i:2;">A</span>
        <span style="--i:3;">L</span>
        <span style="--i:4;">C</span>
        <span style="--i:5;">U</span>
        <span style="--i:6;">L</span>
        <span style="--i:7;">A</span>
        <span style="--i:8;">D</span>
        <span style="--i:9;">O</span>
        <span style="--i:10;">R</span>
        <span style="--i:11;">A</span>
        <br>
        <span style="--i:1;">P</span>
        <span style="--i:2;">R</span>
        <span style="--i:3;">E</span>
        <span style="--i:4;">S</span>
        <span style="--i:5;">T</span>
        <span style="--i:6;">A</span>
        <span style="--i:7;">M</span>
        <span style="--i:8;">O</span>
        <span style="--i:9;">S</span>
        

    </h1>
    <form asp-action="Crear" data-aos="fade-left" data-aos-duration="2000">
        <div class="mb-3">
            <label asp-for="Monto_Del_Prestamo" class="form-label"></label>
            <ion-icon name="cash-outline" class="iconMonto"></ion-icon>
            <input type="number" asp-for="Monto_Del_Prestamo" name="Monto_Del_Prestamo" maxlength="8" placeholder="Digite El Monto" class="form-control" />

            <span asp-validation-for="Monto_Del_Prestamo" class="text-secondary"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TipoOperacionId" class="form-label"></label>
            <i class="bi bi-coin iconMoneda"></i>
            <select asp-for="TipoOperacionId">
                
                <option selected>Selecciona</option>
                <option value="USD">USD</option>
                <option value="AUD">AUD</option>
                <option value="DOP">DOP</option>
                
            </select>

        </div>

       
        <div class="mb-3">
            <label asp-for="Plazo" class="form-label"></label>
            <ion-icon name="hourglass-outline" class="iconPlazo"></ion-icon>
            <input type="number" asp-for="Plazo" name="Plazo" maxlength="8" placeholder="Digite Su Plazo" class="form-control" />
            <span asp-validation-for="Plazo" class="text-secondary"></span>

        </div>
        <div class="mb-3">
            <label asp-for="tasa_interes_anual" class="form-label"></label>
            <ion-icon name="alarm-outline" class="iconInteres"></ion-icon>
            <input type="number" asp-for="tasa_interes_anual" maxlength="8" name="tasa_interes_anual" placeholder="Digite El Interes"
                   class="form-control" />


            <span asp-validation-for="tasa_interes_anual" class="text-secondary"></span>

        </div>
       
        
       
        


        




        <div class="divsito">

            

            <button type="submit" class="po" asp-action="TablaAmortizada"
            >
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Visualizar
            </button>

          </>
            

           

            
        </div>


    </form>



</div>



















@section Scripts{
    <partial name="_ValidationScriptsPartial" />
   }


