@model DatosCliente

@{
    ViewData["Title"] = "tabla";

    float Monto_Prestamo = Model.Monto_Del_Prestamo;

    int Plazo = Model.Plazo;
    float InteresMensual = Model.tasa_interes_mensual;
    float InteresAnual = Model.tasa_interes_anual;
    float Pago = Model.pago;
    float InteresPagado = Model.Interes_Pagado;
    float CapitalPagado = Model.capital_pagado;
    int i = 1;

    InteresMensual = (InteresAnual / 100) / 12;


    Pago = InteresMensual + 1;
    Pago = (float)Math.Pow(Pago, Plazo);
    Pago = Pago - 1;
    Pago = InteresMensual / Pago;
    Pago = InteresMensual + Pago;
    Pago = Monto_Prestamo * Pago;




}




<div class="DivEncimaTabla">

    <table class="table table-bordered tableAmortizada">
        <thead>
            <tr>

                <th>#</th>
                <th>Pago</th>
                <th>InteresPagado</th>
                <th>CapitalPagado</th>
                <th>MontoPrestamo</th>

            </tr>
        </thead>



        @for (i = 1; i <= Plazo; i++)
        {
            InteresPagado = InteresMensual * Monto_Prestamo;

            CapitalPagado = Pago - InteresPagado;
            Monto_Prestamo = Monto_Prestamo - CapitalPagado;

            <tbody>
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Math.Round(Pago,2)
                    </td>
                    <td>
                        @Math.Round(InteresPagado,2)
                    </td>
                    <td>
                        @Math.Round(CapitalPagado,2)
                    </td>
                    <td>

                        @Math.Round(Monto_Prestamo,2)
                    </td>
                </tr>
            </tbody>

        }
    </table>
</div>














<style>
    .container1 {
        background-color: white;
        height: 100vh;
    }

</style>