html {
  font-size: 14px;
}





@media (min-width: 768px) {
    html {
        font-size: 16px;
    }


    .con {
        display:flex;
        justify-content:center;
        align-items:center;
        
        padding:50px;
    }


    form {
        background: black;
        width: 30%;
        color: ghostwhite;
        margin-top:30%;
        position:relative;
        bottom:120px;
        padding-bottom: 20px;
        text-align: center;
        border: 1px solid white;
        border-radius: 15px;
    }
    


    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 60px;
    }


   

    h1 {
        text-align: center;
        color: transparent;
        font-size: 60px;
        letter-spacing: 5px;
        transition: 0.5s;
        animation: animate 2.5s linear infinite;
    }


    @keyframes animate {
        0%,10% {
            color: transparent;
        }

        50% {
            color: lightgray;
        }

        100% {
            color: transparent;
        }
    }


   
}




@media (max-width: 768px) {


    


    h1{
        
      
        margin-top:40px;
    }


    .con {
       
        flex-direction: column;
        position:relative;
        top:40px;
        
        
    }


    form {
        background: black;
        width: 70%;
        color: ghostwhite;
        padding-bottom: 20px;
        text-align: center;
       position:relative;
       top:70px;
       left:15%;
        border: 1px solid white;
        border-radius: 15px;
    }
   
     
    
   


    html {
        font-size: 16px;
        position: relative;
        min-height: 100%;
    }

    




    h1 {
        text-align: center;
        color: transparent;
        font-size: 30px;
        letter-spacing: 5px;
        transition: 0.5s;
        animation: animate 2.5s linear infinite;
    }


    @keyframes animate {
        0%,10% {
            color: transparent;
        }

        50% {
            color: white;
        }

        100% {
            color: transparent;
        }
    }

    
   
}




