html {
  font-size: 14px;
}





@media (min-width: 768px) {
    html {
        font-size: 16px;
    }


    .divsito {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   


    .con {
        display:flex;
        justify-content:center;
        align-items:center;
        
        gap:100px;
    }


    form {
        background: sandybrown;
        width: 30%;
        color: saddlebrown;
        margin-top: 30%;
        position: relative;
        right: 150px;
        bottom: 120px;
        padding-bottom: 20px;
        text-align: center;
        border: 1px solid brown;
        border-top-left-radius: 70px;
        border-bottom-right-radius: 70px;
        
        opacity: 0.8;
    }
    


    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 60px;
        
    }


    .wavy{
        position:relative;
        -webkit-box-reflect:below -12px linear-gradient(transparent,rgba(0,0,0,0.3));
        

    }

    .wavy span{
        position:relative;
        display:inline-block;
        animation:animate 1.2s ease-in-out infinite;
        animation-delay: calc(0.1s * var(--i));
    }

    @keyframes animate{
        0%{
            transform:translateY(0px);
            
        }
        20% {
            transform: translateY(-15px);
            
        }
        40%,100% {
            transform: translateY(0px);
            
        }
    }


    h1 {
        text-align: center;
        color: sandybrown;
        font-size: 60px;
        letter-spacing: 5px;
        transition: 0.5s;
        -webkit-text-stroke: 0.1vw lightyellow;
        text-transform:uppercase;
        
        margin-top:100px;
        margin-right:100px
        
        
    }

       


   
    .btnTabla {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 140px;
        gap: 30px;
    }

   
}




@media (max-width: 948px) {




    .form-control {
        
        background-color: sandybrown;
        
       
        
        
    }

        .form-control:focus {
            background-color: sandybrown;
            box-shadow: none;
            border-bottom: 1px solid brown;
            color: white;
        }

        .form-control:hover {
            color: white;
            border-bottom: 1px solid brown;
        }


    .wavy {
        position: relative;
        -webkit-box-reflect: below -12px linear-gradient(transparent,rgba(0,0,0,0.3));
    }

        .wavy span {
            position: relative;
            display: inline-block;
            animation: animate 1.2s ease-in-out infinite;
            animation-delay: calc(0.1s * var(--i));
        }

    @keyframes animate {
        0% {
            transform: translateY(0px);
        }

        20% {
            transform: translateY(-15px);
        }

        40%,100% {
            transform: translateY(0px);
        }
    }



        .po {
            padding: 10px 22px;
        }

        .divsito {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 30px;
        }



        h1 {
            margin-top: 40px;
        }


        .con {
            flex-direction: column;
            position: relative;
            top: 40px;
            gap: 0;
        }


    form {
        background-color: sandybrown;
        width: 70%;
        color: ghostwhite;
        padding-bottom: 20px;
        text-align: center;
        position: relative;
        top: 70px;
        left: 15%;
        border: 1px solid white;
        border-top-left-radius:70px;
        border-bottom-right-radius:70px;
        opacity: 0.8;
    }



        .btnTabla {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 200px;
        }


        html {
            font-size: 16px;
            position: relative;
            min-height: 100%;
        }






        h1 {
            text-align: center;
            color: transparent;
            font-size: 30px;
            letter-spacing: 5px;
            transition: 0.5s;
            -webkit-text-stroke: 0.3vw sandybrown;
        }
    }














button {
    position: relative;
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background: saddlebrown;
    letter-spacing: 2px;
    font-size: 16px;
    margin: 0 15px;
    transition: 0.3s;
    border: none;
    border-radius:10px;
    /*border-top-left-radius:70px;
    border-bottom-right-radius:70px;*/
}



    button:hover {
        color: saddlebrown;
        transition: 0.5s;
        background: white;
       
        letter-spacing:4px;
    }

    button span {
        display: block;
        position: absolute;
        background: white;
        
    }

     /*   button span:nth-child(1) {
            left: 0;
            bottom: 0;
            width: 1px;
            height: 100%;
            transform: scaleY(0);
            transform-origin: top;
            transition: transform 0.06s;
            
        }*/

  /*  button:hover span:nth-child(1) {
        transform: scaleY(1);
        transform-origin: bottom;
        transition: transform 0.06s;
        
    }



    button span:nth-child(2) {
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.06s;
        transition-delay: 0.06s;
        
    }

    button:hover span:nth-child(2) {
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.06s;
        transition-delay: 0.06s;
        
    }

    button span:nth-child(3) {
        right: 0;
        bottom: 0;
        width: 1px;
        height: 100%;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 0.06s;
        transition-delay: 0.1s;
        
    }

    button:hover span:nth-child(3) {
        transform: scaleY(1);
        transform-origin: top;
        transition: transform 0.06s;
        transition-delay: 0.1s;
        
    }

    button span:nth-child(4) {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.06s;
        transition-delay: 0.18s;
        
    }

    button:hover span:nth-child(4) {
        transform: scaleX(1);
        transform-origin: right;
        transition: transform 0.06s;
        transition-delay: 0.18s;
        
    }
*/







/*Estilo De Boton Diferente*/


/*.btnCalcular {
            position: relative;
            width: 50%;
            height: 60px;

            border: none;
            background: #1a1e2d;
            text-decoration: none;
            text-transform: uppercase;

            font-size: 1.25em;
            font-weight: 500;
            color: ghostwhite;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow:hidden;


        }



            .btnCalcular span {
                display: inline-block;
                z-index: 2;
                line-height: 1em;
                transition: 0.2s ease-in-out;
            }



            .btnCalcular:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                transform: scaleX(0);
                transition: transform 0.2s ease-in-out;
                transform-origin: center;
                border-bottom:2px solid gray;
            }



            .btnCalcular:hover::before {
                transform: scaleX(1);

            }

            .btnCalcular:hover span {
                color: ghostwhite;



            }*/





.btnCalcular {
    position: relative;
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background: sandybrown;
    letter-spacing: 2px;
    font-size: 16px;
    margin: 0 15px;
    transition: 0.3s;
    border: none;
    border-radius: 10px;
    /*border-top-left-radius:70px;
    border-bottom-right-radius:70px;*/
}



    .btnCalcular:hover {
        color: sandybrown;
        transition: 0.5s;
        background: white;
        letter-spacing: 4px;
    }

    .btnCalcular span {
        display: block;
        position: absolute;
        background: white;
    }





/*
a {
    position: relative;
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    background: ghostwhite;
    letter-spacing: 2px;
    font-size: 16px;
    margin: 0 15px;
    transition: 0s;
    border: 1px solid gray;
}

    a:hover {
        color: white;
        transition: 0.5s;
        background: black;
        transition-delay: 0.5s;
    }

    a span {
        display: block;
        position: absolute;
        background: black;
    }

        a span:nth-child(1) {
            left: 0;
            bottom: 0;
            width: 3px;
            height: 100%;
            transform: scaleY(0);
            transform-origin: top;
            transition: transform 0.12s;
        }

    a:hover span:nth-child(1) {
        transform: scaleY(1);
        transform-origin: bottom;
        transition: transform 0.12s;
    }



    a span:nth-child(2) {
        left: 0;
        top: 0;
        width: 100%;
        height: 3px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.12s;
        transition-delay: 0.12s;
    }

    a:hover span:nth-child(2) {
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.12s;
        transition-delay: 0.12s;
    }

    a span:nth-child(3) {
        right: 0;
        bottom: 0;
        width: 3px;
        height: 100%;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 0.12s;
        transition-delay: 0.2s;
    }

    a:hover span:nth-child(3) {
        transform: scaleY(1);
        transform-origin: top;
        transition: transform 0.12s;
        transition-delay: 0.2s;
    }

    a span:nth-child(4) {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.12s;
        transition-delay: 0.37s;
    }

    a:hover span:nth-child(4) {
        transform: scaleX(1);
        transform-origin: right;
        transition: transform 0.12s;
        transition-delay: 0.37s;
    }*/












/* Escondiendo Las flechitas del input type number*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.container1 {
  
    height: 100vh;
}


.background {
    min-height: 100vh;
    position:absolute;
    inset:0;
    background-image:url(../Imagenes/FondoHerramientas.jpg);
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
    filter:blur(4px);
    
    

}













.form-control {
    position: relative;
    align-items: center;
    padding: 10px 0;
    background-color:saddlebrown;
    border: none;
    width: 80%;
    margin-left: 10%;
    border-bottom: 1px solid brown;
    border-radius:10px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    transition: 0.5s;
}

    .form-control:focus {
        background-color: saddlebrown;
        box-shadow: none;e
        border-bottom: 1px solid brown;
        color: white;

    }
    .form-control:hover {
        color: white;
        border-bottom: 1px solid brown;
    }


    .form-control::placeholder{
        color:sandybrown;
    }
label {
    padding: 10px 0;
    pointer-events: none;
    color: white;
    text-transform: uppercase;
}

.DivEncimaTabla {
    background: #edc9af;
    position: relative;
    top: 100px;
    text-align: center;
    box-shadow: 5px 5px 10px 0px;
    border-radius: 20px;
}
.tableAmortizada {
    border-radius: 20px;
    overflow: hidden;
}

.trAmortizada:hover {
    background: sandybrown;
    transition: 0.2s;
}